*{
    font-family: "Jost";
    color: rgb(49, 47, 54);

}
.form_container{
    flex:0.5;
    height: 100%;
}
.form{
   text-align: center;
    width: 80%;
    height: 50%;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 40px 7px;
    border-radius: 5px;
    background-color: rgb(254,238,241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-size: 2.3rem;
    width: 100%;
    font-weight: bold;
    margin: auto;
   
   
  
}

input{
    width:80%;
    height: 2rem;
   
    border-radius: 5px;
    text-align: center;
    font-size: 18px;

}
input:focus{
    outline: none;
}
.label{
    font-size: 18px;
    
}
select{
    width:80%;
    outline: none;
    border: 5px solid black;
    height: 2.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
}

.label_field{
  
    font-size: 20px;
}
.error{
    color: red;
    
}
.start_date{
    width: 100%;
}
.start_date>input{
    width: 80%;
    height: 2rem;
}
.start_date>label{
   font-size: 17px;
}
.submit{
    border:1px solid crimson;
    background-color: crimson;
    color: white;
    width: 30%;
    height: 3rem;
    font-size: 20px;
    
}

@media screen and (min-device-width: 240px) and (max-device-width: 600px) { 
    .title{
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold;
        margin: auto;
       
       
      
    }
    .form{
        text-align: center;
         width: 100%;
         height: 60%;
         margin: auto;
         box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
         padding: 20px 10px;
         border-radius: 5px;
         background-color: rgb(254,238,241);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 10px;
     }
     .submit{
        border:1px solid crimson;
        background-color: crimson;
        color: white;
        width: 40%;
        height: 2rem;
        font-size: 15px;
        
    }
    input{
        width:80%;
        height: 1.5rem;
       font-size: 800px;
        border-radius: 5px;
        text-align: center;
        font-size: 10px;
    
    }
    select{
        width:80%;
        outline: none;
        font-size: 3 rem;
        border: 5px solid black;
        height: 1.5rem;
        border-radius: 5px;
        text-align: center;
        font-size: 10px;
        outline: none;
        border: 1px solid black;
    }
    .start_date>input{
        width: 80%;
        height: 1.5rem;
    }
  }

  
@media screen and (min-device-width: 763px) and (max-device-width: 1368px) { 
    .title{
        font-size: 2rem;
        width: 100%;
        font-weight: bold;
        margin: auto;
       
       
      
    }
    .form{
        text-align: center;
         width: 100%;
         height: 60%;
         margin: auto;
         box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
         padding: 60px 30px;
         border-radius: 5px;
         background-color: rgb(254,238,241);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 10px;
     }
     .submit{
        border:1px solid crimson;
        background-color: crimson;
        color: white;
        width: 40%;
        height: 4rem;
        font-size: 30px;
        
    }
    select{
        width:80%;
        outline: none;
        font-size: 400px;
        border: 5px solid black;
        height: 1.5rem;
        border-radius: 5px;
        text-align: center;
        
       
    }
    input{
        width:80%;
        height: 3rem;
       font-size: 30px;
        border-radius: 5px;
        text-align: center;
        
    
    }
    select{
        width:80%;
        outline: none;
        font-size: 1.8rem;
        border: 5px solid black;
        height: 3rem;
        border-radius: 5px;
        text-align: center;
       
        outline: none;
        border: 1px solid black;
    }
    .start_date>input{
        width: 80%;
        height: 3rem;
        font-size: 30px;
    }
  }

  