.shopContainer{
    width: 80%;
    flex: 1;
    height: 100%;
}
.shopMain{
    width: 90%;
    flex: 1;
    margin: auto;
    height: 100%;
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(3,1fr);
    
}

.shop{
    
   min-height: 220px;
    border: 1px solid gray;
    text-align: center;
    padding:2%;
    border-radius: 5px;
    
}
.shop>img{
    width:90%;
    height: 50%;
}
.filter{
    display: flex;
    flex-direction: row;
     gap: 20%;
    margin: auto;
    justify-content: space-around;
    
    width: 90%;
    height: 10%;

}
.status{
    color: green;
    font-size: 20px;
    margin-bottom: 0.5em;
}